.square {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.container-grid {
    width: 900px;
    margin: auto;
}

/* versione 
.container-grid {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
}

.grid-square {
    aspect-ratio: 1/1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
} */
